article
  .post-header
    +clearfix
    time
      color: $red
      float: left
    .tag
    h2
      clear: both
      a
        font-size: 18px
        text-decoration: none
        color: $black
  .post-body
  .post-comment