article
  margin: 0 0 60px
  .post-header
    +clearfix
    time
      color: $red
      float: left
      +google-font
    .tag
    h2
      clear: both
      margin: 30px 0
      a
        font-size: 18px
        text-decoration: none
        color: $black
        font-weight: bold
        &:hover
          color: lighten($black, 50%)
          +transition(.3s)
  .post-body
    p
      line-height: 1.8
      margin: 0 0 1.2em
    h3
      font-size: 18px
      color: $black
      margin: 30px 0 30px
    h4
      font-size: 15px
      font-weight: bold
    img
      max-width: 100%
  .post-comment